* {
    position: absolute;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

input {
    padding: 10px 16px 10px 16px;
}

body, header, footer,
.rectangle-1, .rectangle-2, .rectangle-3,
.banner, .brands, .route-one, .subscribe {
    width: 1440px;
}

body {
    position: relative;
    height: 6316px;
    background: #FBFBFB;
}

header {
    height: 202px;
}

footer {
    height: 523px;
    top: 5793px;
    background: #1A1A1A;
}

.rectangle-1 {
    height: 32px;
    font-size: 12px;
    color: #F1F1F1;
    background: #1A1A1A;
}

.phone {
    width: 106.36px;
    height: 15px;
    top: 25%;
    left: 9.07%;
}

.phone-icon {
    width: 13.96px;
    height: 14px;
}

.phone-number {
    width: 84px;
    height: 15px;
    right: 0%;
}

.address {
    width: 254.74px;
    height: 15px;
    top: 25%;
    left: 18.63%;
}

.pin-icon {
    width: 10.97px;
    height: 14px;
}

.address-info {
    width: 235px;
    height: 15px;
    right: 0%;
}

.star {
    width: 278.67px;
    height: 15px;
    top: 25%;
    right: 8.98%;
}

.star-icon {
    width: 88.67px;
    height: 14px;
}

.star-info {
    width: 182px;
    height: 15px;
    right: 0%;
}

.rectangle-2 {
    height: 120px;
    top: 32px;
}

.logo {
    width: 120px;
    height: 50px;
    top: 29.17%;
    left: 9.03%;
}

.header-cordes {
    width: 120px;
    height: 50px;
    top: 29.17%;
    left: 9.03%;
    font-family: Germania One;
    font-size: 43px;
    color: #1A1A1A;
}

.navigation {
    width: 170px;
    height: 120px;
    left: 20.69%;
}

.women {
    padding: 50px 20px;
    width: 98px;
    height: 120px;
    right: 0%;
    color: #1A1A1A;
}

.men {
    padding: 50px 20px;
    width: 72px;
    height: 120px;
    color: #1A1A1A;
}

.line-1 {
    width: 32px;
    height: 2px;
    bottom: 36.67%;
    left: 11.76%;
    border: 1px solid #1A1A1A;
    background-color: #1A1A1A;
}

.search-box {
    width: 380px;
    height: 38px;
    top: 34.17%;
    left: 36.81%;
}

.search-input {
    width: 280px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #9A9A9A;
}

.search-button {
    width: 100px;
    height: 38px;
    right: 0%;
    background: #1A1A1A;
}

.search-icon {
    top: 31.58%;
    left: 16%;
}

.search-button-text {
    top: 26.32%;
    left: 38%;
    font-size: 14px;
    color: #FFFFFF;
}

.account {
    width: 109.91px;
    height: 35px;
    top: 35%;
    right: 24.29%;
}

.account-icon-1 {
    width: 20.97px;
    height: 20px;
    bottom: 20%;
}

.account-info {
    width: 70.19px;
    height: 35px;
    right: 0%;
}

.account-log-in-out {
    width: 70px;
    height: 13px;
    font-size: 10px;
    color: #1A1A1A;
}

.account-name {
    width: 54px;
    height: 18px;
    bottom: 0%;
    font-size: 14px;
    color: #1A1A1A;
}

.account-icon-2 {
    width: 12px;
    height: 6px;
    right: 0%;
    bottom: 17.14%;
}

.wishlist {
    width: 90.76px;
    height: 18px;
    top: 42.5%;
    right: 15.77%;
}

.wishlist-icon {
    width: 21.36px;
    height: 18px;
}

.wishlist-text {
    width: 50px;
    height: 18px;
    right: 0%;
    font-size: 14px;
    color: #1A1A1A;
}

.cart {
    width: 68.45px;
    height: 20px;
    top: 41.67%;
    right: 9.04%;
}

.cart-icon {
    width: 19.94px;
    height: 20px;
}

.cart-text {
    width: 29px;
    height: 18px;
    top: 5%;
    right: 0%;
    font-size: 14px;
    color: #1A1A1A;
}

.line-2 {
    width: 1170px;
    height: 2px;
    bottom: 0%;
    left: 9.03%;
    border: 1px solid #F1F1F1;
    background-color: #F1F1F1;
}

.rectangle-3 {
    height: 50px;
    left: 0px;
    top: 152px;
}

.navigation-list {
    width: 991px;
    height: 34px;
    top: 16%;
    right: 15.56%;
}

.line-3-1, .line-3-2, .line-3-3, .line-3-4,
.line-3-5, .line-3-6, .line-3-7, .line-3-8 {
    width: 2px;
    height: 16px;
    top: 26.47%;
    border: 1px solid #F1F1F1;
    background-color: #F1F1F1;
}

.line-3-1 {
    left: 9.79%;
}

.line-3-2 {
    left: 20.99%;
}

.line-3-3 {
    left: 30.68%;
}

.line-3-4 {
    left: 43.29%;
}

.line-3-5 {
    right: 43.29%;
}

.line-3-6 {
    right: 30.58%;
}

.line-3-7 {
    right: 20.18%;
}

.line-3-8 {
    right: 8.17%;
}

.link-1, .link-2, .link-3, .link-4, .link-5,
.link-6, .link-7, .link-8, .link-9 {
    height: 18px;
    top: 23.53%;
    font-size: 14px;
    color: #171717;
}

.link-1 {
    left: 2.42%;
}

.link-2 {
    left: 12.61%;
}

.link-3 {
    left: 23.81%;
}

.link-4 {
    left: 33.5%;
}

.link-5 {
    left: 46.12%;
}

.link-6 {
    right: 33.4%;
}

.link-7 {
    right: 23.01%;
}

.link-8 {
    right: 11%;
}

.link-9 {
    right: 2.42%;
}

.banner {
    height: 598px;
    top: 202px;
    background: #CDDDF0;
}

.banner-image {
    width: 1431px;
    height: 598px;
}

.banner-new-season {
    width: 84px;
    height: 18px;
    top: 17.22%;
    left: 9.03%;
    font-size: 14px;
    color: #1A1A1A;
}

.line-4 {
    width: 40px;
    height: 2px;
    top: 19.57%;
    left: 15.28%;
    border: 1px solid #1A1A1A;
    background-color: #1A1A1A;
}

.banner-text-1 {
    width: 450px;
    height: 73px;
    top: 22.91%;
    left: 9.03%;
    font-weight: 600;
    font-size: 58px;
    color: #1A1A1A;
}

.banner-text-2 {
    width: 565px;
    height: 73px;
    top: 37.29%;
    left: 15.97%;
    font-weight: 600;
    font-size: 58px;
    color: #1A1A1A;
}

.banner-button {
    width: 121px;
    height: 38px;
    bottom: 29.43%;
    left: 9.03%;
    background: #1A1A1A;
}

.banner-button-text {
    position: static;
    width: 57px;
    height: 18px;
    font-size: 14px;
    margin: 10px 32px;
    color: #FFFFFF;
}

.banner-watch {
    width: 129.91px;
    height: 26px;
    bottom: 30.43%;
    left: 22.92%;
}

.banner-watch-text {
    left: 31.49%;
    right: 0%;
    top: 15.38%;
    font-weight: 600;
    font-size: 14px;
    color: #1A1A1A;
}

.banner-slide {
    width: 136px;
    height: 2px;
    bottom: 11.54%;
    left: 9.03%;
}

.banner-slide-1, .banner-slide-2, .banner-slide-3 {
    top: 0%;
    bottom: 0%;
}

.banner-slide-1 {
    left: 0%;
    right: 70.59%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.banner-slide-2 {
    left: 35.29%;
    right: 35.29%;
    border: 1px solid #B3C4D7;
    background-color: #B3C4D7;
}

.banner-slide-3 {
    left: 70.59%;
    right: 0%;
    border: 1px solid #B3C4D7;
    background-color: #B3C4D7;
}

.brands {
    height: 147px;
    top: 800px;
}

.branding {
    width: 945px;
    height: 67px;
    top: 27.21%;
    left: 8.96%;
}

.nike-logo {
    width: 83px;
    height: 60px;
    top: 5.97%;
    background: url(../image/nike-logo.svg);
}

.adidas-logo {
    width: 62px;
    height: 60px;
    top: 5.97%;
    left: 16.4%;
    background: url(../image/adidas-logo.svg);
}

.route-one-logo {
    width: 135px;
    height: 67px;
    left: 30.58%;
    background: url(../image/route-one-logo.svg);
}

.vans-logo {
    width: 128px;
    height: 67px;
    right: 33.97%;
    background: url(../image/vans-logo.svg);
}

.carhartt-logo {
    width: 128px;
    height: 67px;
    right: 12.8%;
    background: url(../image/carhartt-logo.svg);
}

.santa-cruz-logo {
    width: 49px;
    height: 60px;
    top: 5.97%;
    right: 0%;
    background: url(../image/santa-cruz-logo.svg);
}

.line-5 {
    left: 76.8%;
    right: 23.2%;
    top: 23.13%;
    bottom: 22.45%;
    border: 1px solid #F1F1F1;
    background-color: #F1F1F1;
}

.line-6 {
    width: 40px;
    height: 2px;
    right: 17.08%;
    bottom: 46.26%;
    border: 1px solid #1A1A1A;
    background-color: #1A1A1A;
}

.brands-text {
    width: 107px;
    height: 18px;
    right: 9.1%;
    bottom: 43.54%;
    font-weight: 600;
    font-size: 14px;
    color: #1A1A1A;
}

.container-1 {
    width: 1180px;
    height: 654px;
    left: 130px;
    top: 1067px;
}

.container-1-name {
    width: 345px;
    height: 50px;
    font-weight: 600;
    font-size: 40px;
    color: #1A1A1A;
}

.line-7 {
    width: 60px;
    height: 2px;
    top: 6.12%;
    left: 30.59%;
    border: 2px solid #1A1A1A;
    background-color: #1A1A1A;
}

.hoody {
    width: 380px;
    height: 504px;
    bottom: 0%;
}

.hat {
    width: 200px;
    height: 251.47px;
    top: 22.94%;
    right: 0%;
}

.shoes {
    width: 329.83px;
    height: 295px;
    bottom: 0%;
    right: 4.08%;
}

.container-1-text {
    width: 778px;
    height: 448px;
    left: 25.42%;
    bottom: 0%;
}

.container-1-text-1 {
    width: 484px;
    height: 150px;
    font-weight: 600;
    font-size: 120px;
    color: #1A1A1A;
}

.container-1-text-2 {
    width: 578px;
    height: 150px;
    left: 25.71%;
    top: 26.79%;
    font-weight: 600;
    font-size: 120px;
    color: #FFFFFF;
    text-shadow: -2px -2px 0 #1A1A1A, 2px -2px 0 #1A1A1A, -2px 2px 0 #1A1A1A, 2px 2px 0 #1A1A1A;
}

.container-1-text-3 {
    width: 280px;
    height: 36px;
    left: 25.71%;
    bottom: 31.25%;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;
}

.container-1-button {
    width: 132px;
    height: 38px;
    bottom: 0%;
    left: 25.71%;
    background: #1A1A1A;
}

.container-1-button-text {
    width: 70px;
    height: 18px;
    font-size: 14px;
    margin: 10px 32px;
    color: #FFFFFF;
}

.container-2 {
    width: 1179.45px;
    height: 586px;
    left: 130px;
    top: 1901px;
}

.container-2-name {
    width: 873px;
    height: 50px;
    font-weight: 600;
    font-size: 40px;
    color: #1A1A1A;
}

.line-8 {
    width: 60px;
    height: 2px;
    top: 6.83%;
    right: 19.54%;
    border: 2px solid #1A1A1A;
    background-color: #1A1A1A;
}

.container-2-slide {
    width: 136px;
    height: 2px;
    top: 25.6%;
    right: 36.92%;
}

.container-2-slide-1, .container-2-slide-2, .container-2-slide-3 {
    top: 0%;
    bottom: 0%;
}

.container-2-slide-1 {
    left: 0%;
    right: 70.59%;
    border: 1px solid #9A9A9A;
    background-color: #9A9A9A;
}

.container-2-slide-2 {
    left: 35.29%;
    right: 35.29%;
    border: 1px solid #F1F1F1;
    background-color: #F1F1F1;
}

.container-2-slide-3 {
    left: 70.59%;
    right: 0%;
    border: 1px solid #F1F1F1;
    background-color: #F1F1F1;
}

.converse-1 {
    width: 580px;
    height: 436px;
    bottom: 0%;
}

.converse-2 {
    width: 532px;
    height: 361px;
    right: 8.43%;
    bottom: 6.66%;
}

.converse-2-background {
    top: 0%;
    right: 0%;
    bottom: 16.9%;
    left: 0%;
    background: #FFB7B7;
}

.converse-2-image {
    left: 1.5%;
}

.converse-2-info {
    left: 0%;
    right: 0%;
    top: 83.1%;
    bottom: 0%;
    background: #FFFFFF;
}

.converse-2-name {
    position: absolute;
    top: 34.43%;
    left: 11.28%;
    font-size: 14px;
    color: #1A1A1A;
}

.converse-2-name-bold {
    position: relative;
    font-weight: bold;
}

.converse-2-price {
    top: 32.79%;
    right: 11.28%;
    font-weight: bold;
    font-size: 17px;
    color: #1A1A1A;
}

.rectangle-4 {
    width: 60px;
    height: 155.83px;
    right: 0%;
    bottom: 23.9%;
}

.button-left {
    width: 60px;
    height: 59.83px;
    background: url(../image/button-left.svg);
}

.button-right {
    width: 60px;
    height: 59.83px;
    bottom: 0%;
    background: url(../image/button-right.svg);
}

.route-one {
    height: 560px;
    top: 2667px;
    background: #DCE6FF;
}

.route-one-name {
    width: 84px;
    height: 18px;
    top: 17.86%;
    left: 9.03%;
    font-size: 14px;
    color: #1A1A1A;
}

.line-9 {
    width: 40px;
    height: 2px;
    top: 20.36%;
    left: 15.28%;
    border: 1px solid #1A1A1A;
    background-color: #1A1A1A;
}

.route-one-text-1 {
    width: 360px;
    height: 60px;
    left: 9.03%;
    top: 23.93%;
    font-weight: 600;
    font-size: 48px;
    color: #1A1A1A;
}

.route-one-text-2 {
    width: 376px;
    height: 60px;
    left: 9.03%;
    top: 36.07%;
    font-weight: 600;
    font-size: 48px;
    color: #1A1A1A;
}

.route-one-text-3 {
    width: 280px;
    height: 54px;
    left: 9.03%;
    bottom: 39.29%;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;
}

.route-one-button {
    width: 121px;
    height: 38px;
    left: 9.03%;
    bottom: 17.86%;
    background: #1A1A1A;
}

.route-one-button-text {
    position: static;
    width: 57px;
    height: 18px;
    font-size: 14px;
    margin: 10px 32px;
    color: #FFFFFF;
}

.route-one-apollo {
    width: 970px;
    height: 574px;
    bottom: 22.86%;
    right: -0.97%;
    margin-right: 0.97%;
    object-fit: contain;
}

.route-one-apollo-1, .route-one-apollo-2, .route-one-apollo-3,
.route-one-apollo-4, .route-one-apollo-5 {
    height: 574px;
    width: 411px;
    margin-top: 71px;
    object-fit: contain;
}

.route-one-apollo-2 {
    left: 14.54%;
}

.route-one-apollo-3 {
    right: 28.76%;
}

.route-one-apollo-4 {
    right: 14.33%;
}

.route-one-apollo-5 {
    right: 0%;
}

.container-3 {
    width: 1180px;
    height: 994px;
    left: 130px;
    top: 3407px;
}

.container-3-name {
    width: 274px;
    height: 50px;
    font-weight: 600;
    font-size: 40px;
    color: #1A1A1A;
}

.line-10 {
    width: 60px;
    height: 2px;
    top: 4.33%;
    left: 24.58%;
    border: 2px solid #1A1A1A;
    background-color: #1A1A1A;
}

.release-image {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 25.39%;
    background: #F1F1F1;
}

.release-favourite {
    left: 85.71%;
    right: 7.14%;
    top: 5.24%;
    bottom: 90.05%;
}

.release-info {
    left: 0%;
    right: 0%;
    top: 74.61%;
    bottom: 0%;
    background: #FFFFFF;
}

.release-name {
    left: 7.14%;
    right: 7.14%;
    top: 20.62%;
    font-size: 14px;
    color: #1A1A1A;
}

.release-price {
    left: 7.14%;
    right: 72.5%;
    bottom: 20.62%;
    font-weight: bold;
    font-size: 17px;
    color: #1A1A1A;
}

.release-sold {
    right: 7.14%;
    bottom: 21.65%;
    font-size: 12px;
    color: #1A1A1A;
}

.release-1, .release-2, .release-3, .release-4,
.release-5, .release-6, .release-7, .release-8 {
    width: 280px;
    height: 382px;
} 

.release-1 {
    top: 15.09%;
}

.release-2 {
    left: 25.42%;
    top: 15.09%;
}

.release-3 {
    right: 25.42%;
    top: 15.09%;
}

.release-4 {
    right: 0%;
    top: 15.09%;
}

.release-5 {
    bottom: 0%;
}

.release-6 {
    left: 25.42%;
    bottom: 0%;
}

.release-7 {
    right: 25.42%;
    bottom: 0%;
}

.release-8 {
    right: 0%;
    bottom: 0%;
}

.container-4 {
    width: 1180px;
    height: 856px;
    left: 130px;
    top: 4581px;
}

.container-4-1, .container-4-1-image, .container-4-1-gradient,
.container-4-2, .container-4-2-image, .container-4-2-gradient,
.container-4-3, .container-4-3-gradient, .container-4-4 {
    width: 580px;
    height: 418px;
}

.container-4-1 {
    background: #AEEBFF;
}

.container-4-1-image {
    background: url(../image/cookie-1.svg);
}

.container-4-1-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -5.86%, rgba(0, 0, 0, 0) 119.62%);
}

.container-4-1-text-1 {
    width: 84px;
    height: 18px;
    left: 17.24%;
    top: 19.14%;
    font-size: 14px;
    color: #FFFFFF;
}

.line-11 {
    width: 40px;
    height: 2px;
    top: 22.49%;
    left: 32.76%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.container-4-1-text-2 {
    width: 153px;
    height: 65px;
    left: 17.24%;
    top: 25.36%;
    font-weight: 600;
    font-size: 52px;
    color: #FFFFFF;
}

.container-4-1-text-3 {
    width: 119px;
    height: 65px;
    left: 34.48%;
    bottom: 41.63%;
    font-weight: 600;
    font-size: 52px;
    color: #FFFFFF;
}

.container-4-1-button {
    width: 121px;
    height: 38px;
    left: 17.24%;
    bottom: 19.14%;
    background: #FFFFFF;
}

.container-4-1-button-text {
    position: static;
    width: 57px;
    height: 18px;
    font-size: 14px;
    margin: 10px 32px;
    color: #1A1A1A;
}

.container-4-2 {
    right: 0%;
    background: #AEEBFF;
}

.container-4-2-image {
    background: url(../image/cookie-2.svg);
}

.container-4-2-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -5.86%, rgba(0, 0, 0, 0) 119.62%);
}

.container-4-2-text-1 {
    width: 42px;
    height: 18px;
    left: 17.24%;
    top: 19.14%;
    font-size: 14px;
    color: #FFFFFF;
}

.line-12 {
    width: 40px;
    height: 2px;
    top: 22.49%;
    left: 25.86%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.container-4-2-text-2 {
    width: 153px;
    height: 65px;
    left: 17.24%;
    top: 25.36%;
    font-weight: 600;
    font-size: 52px;
    color: #FFFFFF;
}

.container-4-2-text-3 {
    width: 119px;
    height: 65px;
    left: 34.48%;
    bottom: 41.63%;
    font-weight: 600;
    font-size: 52px;
    color: #FFFFFF;
}

.container-4-2-button {
    width: 121px;
    height: 38px;
    left: 17.24%;
    bottom: 19.14%;
    background: #FFFFFF;
}

.container-4-2-button-text {
    position: static;
    width: 57px;
    height: 18px;
    font-size: 14px;
    margin: 10px 32px;
    color: #1A1A1A;
}

.container-4-3 {
    bottom: 0%;
    background: url(../image/cookie-3.svg);
}

.container-4-3-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -5.86%, rgba(0, 0, 0, 0) 119.62%);
}

.container-4-3-play-button {
    width: 96.73px;
    height: 97px;
    top: 38.28%;
    left: 41.37%;
}

.container-4-4 {
    right: 0%;
    bottom: 0%;
}

.container-4-4-text-1 {
    width: 179px;
    height: 65px;
    left: 17.24%;
    top: 9.57%;
    font-weight: 600;
    font-size: 52px;
    color: #1A1A1A;
}

.container-4-4-text-2 {
    width: 366px;
    height: 65px;
    left: 17.24%;
    top: 25.12%;
    font-weight: 600;
    font-size: 52px;
    color: #1A1A1A;
}

.container-4-4-text-3 {
    width: 383px;
    height: 90px;
    left: 17.24%;
    top: 46.41%;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #1A1A1A;
}

.container-4-4-button {
    width: 121px;
    height: 38px;
    left: 17.24%;
    bottom: 9.57%;
    background: #1A1A1A;
}

.container-4-4-button-text {
    position: static;
    width: 57px;
    height: 18px;
    font-size: 14px;
    margin: 10px 32px;
    color: #FFFFFF;
}

.subscribe {
    height: 236px;
    top: 5557px;
}

.rectangle-5 {
    width: 197px;
    height: 76px;
    left: 22.92%;
    top: 33.9%;
}

.subscribe-text-1 {
    width: 87px;
    height: 18px;
    font-size: 14px;
    color: #1A1A1A;
}

.line-13 {
    width: 40px;
    height: 2px;
    right: 31.74%;
    top: 18.42%;
    border: 1px solid #1A1A1A;
    background-color: #1A1A1A;
}

.subscribe-text-2 {
    width: 197px;
    height: 50px;
    bottom: 0%;
    font-weight: 600;
    font-size: 40px;
    color: #1A1A1A;
}

.subscribe-box {
    width: 480px;
    height: 38px;
    right: 22.92%;
    top: 41.95%;
}

.subscribe-input {
    width: 355px;
    height: 38px;
}

.subscribe-button {
    width: 125px;
    height: 38px;
    right: 0%;
    background: #1A1A1A;
}

.subscribe-button-text {
    left: 25.6%;
    right: 25.6%;
    top: 26.32%;
    bottom: 26.32%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-cordes {
    width: 120px;
    height: 50px;
    left: 9.03%;
    top: 15.3%;
    font-family: Germania One;
    font-size: 43px;
    color: #FFFFFF;
}

.footer-about {
    width: 220px;
    height: 198px;
    left: 9.03%;
    top: 36.33%;
}

.footer-about-name {
    width: 48px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.line-14 {
    width: 80px;
    height: 2px;
    top: 16.16%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.footer-about-1 {
    width: 59px;
    height: 18px;
    bottom: 62.63%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-about-2 {
    width: 77px;
    height: 18px;
    bottom: 47.47%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-about-3 {
    width: 54px;
    height: 18px;
    bottom: 32.32%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-about-4 {
    width: 66px;
    height: 18px;
    bottom: 17.17%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-about-5 {
    width: 63px;
    height: 18px;
    bottom: 0%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-about-6 {
    width: 59px;
    height: 18px;
    left: 72.73%;
    bottom: 62.63%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-about-7 {
    width: 77px;
    height: 18px;
    left: 72.73%;
    bottom: 47.47%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-about-8 {
    width: 54px;
    height: 18px;
    left: 72.73%;
    bottom: 32.32%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-about-9 {
    width: 66px;
    height: 18px;
    left: 72.73%;
    bottom: 17.17%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-store {
    width: 180px;
    height: 172px;
    left: 36.81%;
    top: 36.33%;
}

.footer-store-name {
    width: 44px;
    height: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

.line-15 {
    width: 80px;
    height: 2px;
    top: 18.6%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.footer-store-1 {
    width: 162px;
    height: 18px;
    bottom: 62.79%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-store-2 {
    width: 124px;
    height: 18px;
    bottom: 45.35%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-store-3 {
    width: 136px;
    height: 18px;
    bottom: 27.91%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-store-4 {
    width: 180px;
    height: 36px;
    bottom: 0%;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.footer-credit {
    width: 120px;
    height: 108px;
    right: 34.03%;
    top: 36.33%;
}

.footer-credit-name {
    width: 85px;
    height: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

.line-16 {
    width: 120px;
    height: 2px;
    top: 29.63%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.footer-credit-1, .footer-credit-2 {
    width: 120px;
    height: 18px;
}

.footer-credit-image {
    top: 11.11%;
}

.footer-credit-text {
    width: 74px;
    height: 18px;
    left: 31.92%;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-credit-1 {
    bottom: 32.48%;
}

.footer-credit-2 {
    bottom: 0%;
}

.footer-social {
    width: 156px;
    height: 72px;
    right: 10.69%;
    top: 36.33%;
}

.footer-social-name {
    width: 77px;
    height: 18px;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.line-17 {
    width: 100px;
    height: 2px;
    top: 44.44%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.facebook, .instagram, .pinterest,
.twitter, .snapchat, .linkedin {
    width: 16px;
    height: 16px;
}

.facebook {
    bottom: 0%;
}

.instagram {
    left: 17.95%;
    bottom: 0%;
}

.pinterest {
    left: 33.79%;
    bottom: 0%;
}

.twitter {
    bottom: 0%;
    right: 35.9%;
}

.snapchat {
    right: 17.95%;
    bottom: 0%;
}

.linkedin {
    right: 0%;
    bottom: 0%;
}

.line-18 {
    width: 1180px;
    height: 1px;
    left: 9.03%;
    bottom: 10.52%;
    border: 0.5px solid #9A9A9A;
    background-color: #9A9A9A;
}

.copyright {
    width: 249px;
    height: 15px;
    left: 9.03%;
    bottom: 3.82%;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
}